@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.question-page-bg-container {
  background-color: #875fc0;

  background-size: cover;
  padding: 22px;
}

.score {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
}

.top-section-card-container {
  background-color: #ffffff;
  border-radius: 8px;

  text-align: center;
  padding: 16px;
}

.question-number {
  color: #1f2933;
  font-family: "Roboto";
  font-size: 26px;
  font-weight: 500;
}

.question-text {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 18px;
}

.options-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.list-items {
  list-style-type: none;
  padding: 0px;
}

.option {
  color: #323f4b;
  background-color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border-style: solid;
  border-width: 1px;
  border-color: #323f4b;
  border-radius: 8px;
  padding: 13px;
  margin: 10px;
}

.correct-option {
  background-color: #875fc0;
  color: #ffffff;
}

.button {
  font-family: "Roboto";
  background-color: #fbaf00;
  color: #ffffff;
  border-radius: 5px;
  border-width: 0px;
  height: 36px;
  width: 90px;
}
